@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
margin: 0;
padding: 0;
text-decoration: none;
border: none;
outline: none;
box-sizing: border-box;
scroll-behavior: smooth;
font-family: "Nunito", sans-serif;
}

:root {
--bg-color: #000000;
--text-color: #ffffff;
--btn-color: #c9f31d;
--box-color: #141410;
--box1-color: #181a18;
--box2-color: #1d1d1d;
--box3-color: #191918;
}

html {
font-size: 85%;
overflow-x: hidden;
}

body {
    background: var(--box-color);
    color: var(--text-color);
}

section {
    /* min-height: 100vh; */
    padding-top: 10rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-color);
    border-bottom: 1px solid rgba(245, 240, 240, 0.2);
}

.logo {
    width: 150px;
    margin-right: 0px;
}

.navbar a {
    margin-right: 30px;
    font-size: 1.rem;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--btn-color);
}

.nav-btn button {
    padding: 14px 16px;
    border-radius: 5px;
    background: var(--btn-color);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

#menu-icon {
    font-size: 1.5rem;
    color: var(--bg-color);
    background-color: var(--text-color);
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: row;
    background: url(./img/banner-bg.png) left no-repeat;
    background-position: center -25px, 0px, 90px;
    background-size: 99%;
    background-color: var(--bg-color);
    margin-bottom: -5px;
}

.free {
    font-size: 22px;
    padding-top: 90px;
    width: 50%;
    margin-left: 70px;
    border-bottom: 1.5px solid rgb(245, 240, 240);
}

.fes-con h1 {
    font-size: 80px;
    width: 100%;
    padding-top: 95px;
    margin-left: 70px;
}

.video {
    padding-top: 50px;
    margin-left: 70px;
}

.wp {
    font-size: 20px;
    margin-left: 170px;
    margin-bottom: 30px;
}

.animate {
    animation: colorEffect 5s infinite alternate;
    font-weight: bold;
}

@keyframes colorEffect {
    0% {
      color: rgba(255, 255, 255, 0.2);
      opacity: 0.2;
    }
    50% {
      color: var(--btn-color); 
      opacity: 1;
    }
    100% {
      color: rgba(255, 255, 255, 0.2); 
      opacity: 0.2;
    }
  }

  .video i {
    font-size: 7rem;
    cursor: pointer;
  }

  marquee{
    width: 100%;
    padding: 30px;
    background-color: var(--btn-color);
    z-index: 1;
  }

  marquee img {
    margin-right: 40px;
  }

  .star {
    background: var(--box-color);
    align-items: center;
    padding-bottom: 70px;
  }

  .star img {
    margin-left: 650px;
  }
  
  .star h2 {
    text-align: center;
    font-size: 43px;
    font-weight: lighter;
    line-height: 60px;
    margin-top: 30px
  }

  #skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 370px;
    margin-top: 40px;
  }

  #skill p {
    padding: 20px;
    background: var(--box1-color);
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
    font-size: large;
  }

  .yellow-background {
    background-color: var(--btn-color) !important;
  }

  .p-info {
    background-color: var(--box1-color);
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }

  .p-info img {
    margin-left: 50px;
    margin-top: -60px;
  }

  .info-text {
    margin-left: 40px;
    margin-top: -50px;
  }
  
  .info-text h1 {
    font-size: 40px;
  }

  .info-text p {
    font-size: 18px;
    margin-top: 25px;
    color: #818181;
    width: 90%;
    line-height: 27px;
  }

  .info-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .p-details {
    margin-top: 40px;
    display: flexbox;
    flex-direction: row;
  }

  .sbox {
    background-color: #1d1d1d;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
  }

  .sbox h2 {
    cursor: pointer;
  }

  .icon {
    font-size: 20px;
    cursor: pointer;
  }
